<div class="container mt-4">
    <h2 class="mb-4 text-center">Liste des aliments</h2>
  
    <!-- Bouton charger -->
    <div class="text-center">
      <button class="btn btn-primary" (click)="fetchFood()">
        Charger les aliments
      </button>
      <p>{{ (fact$ | async)?.fact}}</p> 
    </div>
  
    <!-- Liste des aliments -->
    <h2>Liste complète</h2>
    <button class="btn btn-primary" (click)="loadAll()">Charger tout</button>
    <ul>
      <li *ngFor="let f of allFoods">{{ f }}</li>
    </ul>
    
    <h2>Liste un par un (1 seconde)</h2>
    <button class="btn btn-primary" (click)="loadOneByOne()">Charger progressivement</button>
    <ul>
      <li *ngFor="let f of streamedFoods">{{ f }}</li>
    </ul>
    <ul>
      <li *ngFor="let f of foods$ | async">{{ f }}</li>
    </ul>

     <h2>Liste via store</h2>
    <input type="text" [(ngModel)]="newFood" placeholder="Nouvel aliment">
    <button class="btn btn-success" (click)="addFood()">Ajouter</button>
    <ul>
      <li *ngFor="let f of foodsFromStore$ | async">{{ f }}</li>
    </ul>

    <h2>Liste via Akita</h2>
    <button class="btn btn-success" (click)="addFoodAkita()">Ajouter</button>
    <ul>
      <li *ngFor="let f of foodsAkita$ | async">{{ f }}</li>
    </ul>

    <h2>Liste via NgRx</h2>
    <button class="btn btn-success" (click)="addFoodNgRx()">Ajouter</button>
    <ul>
      <li *ngFor="let f of foodsNgRx$ | async">{{ f }}</li>
    </ul>
    <div *ngIf="loadingMessage">{{ loadingMessage }}</div>
</div>
