<div class="container mt-4 text-center">
  <h2 class="mb-4">Classement 🏆</h2>

  <table class="table table-bordered table-striped" *ngIf="scores.length > 0; else noScores">
    <thead class="table-primary">
      <tr>
        <th>Joueur {{ playerName$ | async }} </th>
        <th>Score</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of scores">
        <td>{{ s.player }}</td>
        <td>{{ s.points }}</td>
        <td>{{ s.date | date:'short' }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #noScores>
    <p class="text-muted">Aucun score enregistré pour l’instant.</p>
  </ng-template>

  <button class="btn btn-primary mt-3" routerLink="/home">
    Retour à l'accueil
  </button>
</div>
