<div class="quiz-container">
  <!-- Bloc thème -->
  <div class="theme-box fade-enter fade-enter-active" 
  [@fadeTheme] 
  [ngClass]="getThemeClass(questions[currentQuestionIndex]?.theme || 'default')">
    <span class="theme-label">Thème :</span>
    <span class="theme-name">{{ questions[currentQuestionIndex]?.theme }}</span>
  </div>
  
  <!-- Question -->
  <h3 class="question-title">
    Question {{ currentQuestionIndex + 1 }} / {{ questions.length }}
  </h3>
  <p class="question-text">{{ questions[currentQuestionIndex]?.text }}</p>

  <!-- Options -->
  <div class="options">
    <button *ngFor="let option of questions[currentQuestionIndex].options; let j = index"
            [class.selected]="selectedOptionIndex === j"
            [class.correct]="answerValidated === 'correct' && selectedOptionIndex === j"
            [class.wrong]="answerValidated === 'wrong' && selectedOptionIndex === j"
            (click)="selectAnswer(j)">
      {{ option }}
    </button>
  </div>

<!-- Bouton Valider affiché seulement si une réponse est choisie -->
<button 
  class="btn-validate" 
  *ngIf="selectedOptionIndex !== null && !answerValidated" 
  (click)="validateAnswer()">
  Valider
</button>

  <!-- Timer & Score -->
  <div class="timer-bar">
    <div 
      class="timer-progress" 
      [style.width.%]="(timeLeft / totalTime) * 100"
      [ngClass]="{
        'timer-green': timeLeft > totalTime * 0.6,
        'timer-orange': timeLeft <= totalTime * 0.6 && timeLeft > totalTime * 0.3,
        'timer-red': timeLeft <= totalTime * 0.3
      }">
    </div>
  </div>
  
  <p>⏱ Temps restant : <strong>{{ timeLeft }}s</strong></p>  
    <p>Score actuel : <strong>{{ score }}</strong></p>
  </div>

